<section class="wow fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <div class="card mt-5">
        <img class="card-img-top" src="img/cards/img1.jpg" alt="smiling man">
        <div class="card-body">
          <p class="card-text">We provide free and confidential services to all survivors of sexual violence.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card mt-5">
        <img class="card-img-top" src="img/cards/img2.jpg" alt="smiling man">
        <div class="card-body">
          <p class="card-text">Learn more about sexual violence. Look around this site to find information and resources.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card mt-5">
        <img class="card-img-top" src="img/cards/img3.jpg" alt="smiling man">
        <div class="card-body">
          <p class="card-text">We have extensive support groups and services for people of all ages.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card mt-5">
        <img class="card-img-top" src="img/cards/img4.jpg" alt="smiling man">
        <div class="card-body">
          <p class="card-text">We engage in political activism and protests to support issues related to sexual violence survivors.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="my-5">
<section>
  <div class="row features-small mb-5 wow fadeIn">
    <div class="col-md-3">
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="card-title">Events</h4>
          <hr class="mt-0" />
          <div class="overflow-auto">
            <p class="float-left m-0"><strong>Testing</strong></p>
            <div class="float-right"><small>December 15, 2018</small></div>
          </div>
          <div class="overflow-auto">
            <p class="float-left m-0">Free HIV/STI testing.</p>
            <a href="#" class="btn btn-secondary float-right btn-sm m-0">
              Details
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
          <hr />
          <div class="overflow-auto">
            <p class="float-left m-0"><strong>Awareness</strong></p>
            <div class="float-right"><small>December 15, 2018</small></div>
          </div>
          <div class="overflow-auto">
            <p class="float-left m-0">National stalking awareness month.</p>
            <a href="#" class="btn btn-secondary float-right btn-sm m-0">
              Details
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
          <hr />
          <div class="overflow-auto">
            <p class="float-left m-0"><strong>Teen Dating</strong></p>
            <div class="float-right"><small>December 15, 2018</small></div>
          </div>
          <div class="overflow-auto">
            <p class="float-left m-0">Teen dating violence awareness.</p>
            <a href="#" class="btn btn-secondary float-right btn-sm m-0">
              Details
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-3">
        <div class="card-body elegant-color white-text rounded-bottom">
          <h5 class="card-title text-center">News</h5>
          <p class="m-0 lead">
            <strong><a href="#" class="text-white">Save the Date for the 31st Annual Holiday Auction!</a></strong>
          </p>
          <p>
            Join us for our largest event of the year on Sunday, December 2, 2018,  from 5-9pm, in The Blue Zone at Kenan Stadium! Don’t miss out on our brand new location and return to old-fashioned bidding.
          </p>
          <p class="m-0 lead">
            <strong><a href="#" class="text-white">Free HIV/STI Testing</a></strong>
          </p>
          <p>
            The Center will be partnering with the incredible folks at Alliance of AIDS Services – Carolina to host free HIV and STI testing at our space on the 2nd Tuesday of every month from 4:30-6:30 pm.
          </p>
          <p class="m-0 lead">
            <strong><a href="#" class="text-white">Get Involved</a></strong>
          </p>
          <p>
            Join us in the fight against sexual violence! Learn more about our volunteer opportunities and how to get involved at <a href="">ocrcc.org/volunteer</a>.
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-outline-secondary waves-effect m-0">More news...</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mt-3">
        <img class="card-img-top" src="img/blog.jpg" alt="A picture of a laptop">
        <div class="card-body">
          
          <div class="overflow-auto">
            <p class="lead float-left">Surviving Sexual Violence</p>
            <button class="btn peach-gradient btn-round float-right">
            <i class="fa fa-chevron-right"></i>
            </button>
          </div>
          <div class="overflow-auto">
            <p class="lead float-left">Making #MeToo Count</p>
            <button class="btn purple-gradient btn-round float-right">
            <i class="fa fa-chevron-right"></i>
            </button>
          </div>
          <div class="overflow-auto">
            <p class="lead float-left">Rachel Valentine as New Executive Director</p>
            <button class="btn blue-gradient btn-round float-right">
            <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>